<div class="day">
  <u><%= day + 1 %></u><br />
  <% @jobs.each do |job| %>
    <% if day == job.datetime.day %>
      <%= link_to job.name, job_path(job.id) %><br />
    <% end %>
  <% end %>
  <%= link_to 'Create Job', new_job_path(datetime: day + 1), class: "btn btn-primary btn-xs" %>
</div>

<% (Time.days_in_month(Time.now.month)).times do |day| %>
