<div class="white-background">
  <h4><%= @user.name %></h4>
  <h5><%= get_address(@user) %></h5>
  <%  @jobs.where(client_id: @user.id).order(:datetime).each do |job| %>
    <strong><%= link_to job.datetime.strftime('%Y/%m/%d - %I:%M%P'), show_job_path(id: job.id), class: "monospace-font" %></strong><br />
  <% end %>
</div>
