@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";
@import 'welcome';
@import "blog_posts";
@import "comments";
@import "user";
@import "jobs";

.demo {
  font-size: 12px;
  background-color: #ff4d4d;
  border-radius: 4px;
  margin-top: 15px;
  padding: 4px;
}

.float-right {
  float: right;
}

.center-text {
  text-align: center;
}

.white-background {
  background-color: rgb(242, 242, 242);
  font-family: 'Patua One', cursive;
  border-radius: 4px;
  padding: 10px;
}
