h2 {
  text-align: center;
}

.calender {
  table {
    table-layout: fixed;
    thead {
      tr {
        th {
          text-align: center;
        }
      }
    }
    tbody {
      tr {
        height: 120px;
        td {
          .btn {
            width: 100%;
          }
        }
      }
    }
  }
}

.modal-body {
  .btn-warning, .btn-danger {
    text-align: center;
  }
}
