.monospace-font {
  font-family: 'Anonymous Pro', monospace;
}

.weekly_schedule {
  table-layout: fixed;
  .appointment {
    margin: 5px 0 5px 0;
    padding: 5px;
    border: solid grey 1px;
    border-radius: 3px;
  }

  th {
    text-align: center;
  }
}
