.welcome {
  background: no-repeat;
  margin: auto;
  text-align: center;

  h1 {
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 1px 1px 8px $myw-pink;
    font-size: 80px;
  }
}
