<div class="contact">
  <div class="custom-button">
    <!-- make contact us page -->
    <p><a href="#">Contact Us</a></p>
  </div>
  <div class="social-buttons">
    <div class="facebook">
      <a href="https://www.facebook.com/MaidYourVVay/?ref=br_rs"><%= image_tag "social/facebook.png" %></a>
    </div>
    <div class="twitter">
      <a href="#"><%= image_tag "social/twitter.png" %></a>
    </div>
    <div class="linkedin">
      <a href="#"><%= image_tag "social/linkedin.png" %></a>
    </div>
</div>
